body {
    font-family: 'Vazirmatn', sans-serif;
    background: linear-gradient(to right, #fc5c7d, #6a82fb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    direction: rtl;
    color: #fff;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    text-align: center;
    max-width: 600px;
}

header .container {
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 700;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 300;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #00f2fe;
}

label {
    display: block;
    margin: 15px 0 5px;
    font-weight: 300;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 25px;
    font-size: 1em;
    text-align: right;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #218838;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #fff;
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #ccc;
}
